<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Add every puff!</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <div class="circle" tappable (click)="insertPuff()">{{total_day_puffs}}/{{row_todayGoal}}
            </div>
    
        </ion-col>
        <ion-col col-4> 
    </ion-col>
      </ion-row>
      <ion-input placeholder="Enter number" [(ngModel)]="manual_puff"></ion-input>
      <ion-button expand="block" color="secondary" (click)="insertPuffManually()">
          Insert manually
        </ion-button>
    </ion-card-content>
  </ion-card>
 

 
 
  <ion-item-divider>

  </ion-item-divider>
 
 
 
  <ion-grid>
    <ion-row>
      <ion-col>
        Row ID
      </ion-col>
      <ion-col>
        Name
      </ion-col>
      <ion-col>
        Delete
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of row_data">
      <ion-col>
        {{item.pid}}
      </ion-col>
      <ion-col>
        {{item.Name}}
      </ion-col>
      <ion-col>
        <ion-button (click)="deleteRow(item)" size="small" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>